# Local configuration backups and private files
*.bak-*
.env
.env.*
compilers/
*.iso
*.gcm
*.rvz

# IDE folders
.idea/
.vs/

# Caches
__pycache__
.mypy_cache
.cache/

# Original files
orig/*/*
!orig/*/.gitkeep
*.dol
*.rel
*.elf
*.o
*.map
*.MAP
TestingFiles/*

# Build files
build/
.ninja_*
build.ninja

# decompctx output
ctx.*
*.ctx

# Generated configs
objdiff.json
compile_commands.json

# Miscellaneous
/*.txt
*.exe
